<h1>Game</h1>
  
<body onload="document.forms[0].submit()">
  <h1>これはサンプルです</h1>
</body>

<%= form_with(url: games_path, model: @game, local: true) do |f| %>
  <%= f.text_field :user1, value: @user.id  %>
  <%= f.text_field :user2, value: @opponent.user_id %>
<% end %>


