<div class="<%=class_name%>">
  <% have = get_own_piece(@game.own_piece, turn) %>
  <% have.each do |piece, num| %>
  <ul>
    <% if num >= 1 %>
    <li>
      <% image_path = get_image_path(piece, turn) %>
      <%= image_tag(image_path, size: '35x35') %>
      <% if num >= 2 %>
        <%= " × #{num}" %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>