<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>

<% provide(:edit, true)%>
<% provide(:method, :patch)%>

<%= render 'display_field', {edit: true, method: :patch} %>

<script type="text/javascript">
  $(document).ready(function() {
    $("td#<%= params[:before] %>").addClass("board_primary");
  });
</script>