<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>

<div class="displayField">
  <%= render 'display_field', {game: @game, display: @display, order: @order, before: params[:before].to_i, after: -1, promote: -1} %>
  
  <div class="frontOwnPiece">
    <%= render 'display_own_piece', {game: @game, class_name: :front, turn: @display} %>
  </div>
  
  <div class="backOwnPiece">
    <%= render 'display_own_piece', {game: @game, class_name: :back, turn: @display^3} %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("img#<%= params[:before] %>").addClass("board_primary");
  });
</script>