<h1>Top page</h1>
<div class="row">
  <div class="col-md-3 col-md-offset-3">
    
    <% if logged_in? %>
      <%#= link_to "対局室へ移動", matchs_path(user_id: @user.id), method: :post %>
      <%= form_with(url: matchs_path(user_id: @user.id), local: false) do |f| %>
        <%= f.submit '対局室へ移動', class: 'btn btn-primary btn-block', id: 'matchRoom' %>
      <% end %>
    <% else %>
      <%= link_to "ログイン", login_path %>
    <% end %>
  </div>
</div>

<p class="jQuery">jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p.jQuery").text("jQuery稼働テスト(稼働中)");
  });
</script>