@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align: center;
}

input {
  /*border: 1px solid #bbb;*/
  /*width: 50%;*/
  margin-bottom: 15px;
  display: block;
}

li{
  list-style: none;
}

/* エラーメッセージ */
#error_explanation {
  color: red;
  ul{
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  // form-controlの存在意義がわからない
  // .form-control {
  // cd  color: $state-danger-text;
  // }
}

#backRegion{
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(100, 100, 100, .8);
  z-index: 2147483647;
}

/* game  */ 
.board{
  // list-style: none;
  // margin-bottom: 10px;
  // display: inline-block;
  align: center;
  margin: 0;
}

.board_table{
  position: relative;
  width: 480px;
  left: 0px;
  // right: 0;
  // margin: auto;
  // align: center;
  margin: auto;
}

.board_primary{
  color: blue;
  background-color:rgba(0,0,255,0.7);
}

.front{
  position: absolute;
  right: -100px;
  top: 230px;
  background-color: rgb(255,255,0);
}

.back{
  position: absolute;
  left: -110px;
  top: 0;
  background-color: rgb(255,255,0);
}

// .mask{
//   background: rgba(0,0,0,0.4);
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
// }